@using Microsoft.AspNetCore.Identity
@using Walmart.ApplicationCore.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
    <div class="sidebar-box1">
      <i class="fa-solid fa-right-from-bracket" style="margin-left: 4px;"></i>
      <button id="logout" type="submit" class="sidebar-text1" style="margin-left: 3px;">Sign Out</button>
    </div>
    </form>
}
else
{
    
}