@model int
@if (Model >= 10)
{
    <span class="icontext4" style="font-size: 10px;padding:4px 1px 0 0" id="items-count">@Model</span>
}else{
    <span class="icontext4" id="items-count">@Model</span>
}
